
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: rgb(255, 186, 126);
}

ul {
    margin: 0;
    padding: 0;
}
ul>li {
    list-style: none;
}
.container {
    max-width: 1070px;
    margin: 0 auto;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

/* Блок добавления задачи (поле и кнопка) */
.add-block {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    flex-basis: 450px;
    border: 1px solid black;


}

/* Поле ввода */
#taskInput {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    flex: 1 1 450px;
}
/* Плейсхолдер */
#taskInput::placeholder {
    color: rgba(128, 128, 128, 0.384);
}

/* Кнопка добавления задачи */
#addBtn {}
#addBtn {
    border: 1px solid black;

}

/* Список задач */

#list {
    margin: 0 auto;
    max-width: 450px;
}
/* Элемент списка */
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.514);
    background-color: white;
    height: 30px;
    
}
/* Запретить ужиматься блоку с кнопками в элементе списка*/
.item__btns {
    flex-shrink: 0;
    
   
   

}

.fa-regular {
    color: rgb(36, 133, 4);
    height: 5px;
    width: 5px;
}

/* Символ корзины */
.fa-trash-can {
   color: rgb(177, 7, 7);
}
/* Символ чекбокса */
.fa-square-check {
    margin-right: 20px;
}
/* Поведение элемента списка если добавлен класс .done */
.item.done {
    text-decoration: line-through;
}